body {
  background-image:url("http://i.imgur.com/TqsNnCn.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-top: 30px;
  text-align: center;
  color: white;
}

.hidden {
  display: none;
}
