body {
  background-image:url("http://i.imgur.com/TqsNnCn.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.index {
  margin-top: 30px;
  text-align: center;
  font-family: 'Limelight', cursive;
  color: white;
}

.hidden {
  display: none;
}

.loginPage {
  margin-top: 30px;
  text-align: center;
  font-family: 'Fontdiner Swanky', cursive;
  color: white;
}

.delete {
  margin: 122.5px 0 0 10px;
}

.tasteTest {
  margin: 0 10px;
}

.search {
  margin: 0 0 0 10px;
}

.movieInputField {
  border-radius: 5px;
}

.loginHeader {
  margin: 50px 0 0 0;
}

.loginForm {
  margin: 20px 0 0 0;
}
