extends ./_partials/_layout
include ./_partials/_header

block content
  .loginPage
    .six.columns.offset-by-three
      .loginPageForm
        h1.loginHeader
          | Welcome to FlickPick.
          h1
            form.loginForm
              input(type='email', placeholder='Email', required='required')
              input(type='password', placeholder='Password', required='required')
              input.button-primary(type='submit', value='Login')
              input.doRegister.button-primary(type='button', value='Register')
              input.doResetPassword.button-primary(type='button', value='Reset Password')
      .onTempPassword.hidden
          h1 Change Password
              form
                input(type="password", placeholder="Temporary Password")
                input(type="password", placeholder="New Password")
                input.button-primary(type="submit", value="Change Password")
  include ./_partials/_footer
